
<f:be.container>
    <div class="module" data-module-id="{moduleId}" data-module-name="{moduleName}">
        <div class="module-loading-indicator"></div>
        <div class="module-docheader t3js-module-docheader">
            <div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation row">
                <div class="module-docheader-bar-column-left">
                </div>
                <div class="module-docheader-bar-column-right">
                    <f:be.pagePath />
                </div>
            </div>
        </div>
        <div class="module-body t3js-module-body">
            <f:flashMessages />
            <f:render section="Content" />
        </div>
    </div>
</f:be.container>
